<footer class="page-footer text-center text-md-left elegant-color-dark mt-5">
	<div class="container-fluid py-10" style="background-color:dark">
		<div class="flex-center">
			<ul class="list-unstyled">
				<li>
					<h2 class="h2-responsive mb-4 mt-5 wow fadeIn"> <i class="fas fa-quote-left" ari-hidden="true"></i>
					 PhotoGraphy is An Art 
					<i class="fas fa-quote-right" ari-hidden="true">
				</i>
			</h2>
				</li>
				<li>
					<ul>
						<h4 class="font-italic white-text">- Parth Soni</h4>
					</ul>
				</li>	
			</ul>
		</div>
	</div>

	<!--   social media --->


<div class="container mb-2 elegant-color-dark">
	<div class="row">
		<div class="col-md-12 my-4 fadeIn wow" data-wow-delay="0.3s">
				<div class="footer-sociams flex-center">
				<!-- Facebook--->
				<a href="https://www.facebook.com/professionalphotographersclub/" type="button" class="btn-floating btn-blue"><i class="fab fa-facebook"></i></a>
				<!-- Youtube--->
				<a href="https://www.youtube.com/c/froknowsphoto/featured" type="button" class="btn-floating btn-red"><i class="fab fa-youtube"></i></a>
				<!-- Twitter--->
				<a href="https://twitter.com/betterphoto?lang=en" type="button" class="btn-floating btn-blue"><i class="fab fa-twitter"></i></a>
				<!-- Instagram--->
				<a href="https://www.instagram.com/sonicaptures/" type="button" class="btn-floating btn-red"><i class="fab fa-instagram"></i></a>

				</div>
			</div>
		</div>
	</div>


<!-- COPY RIGHT --->

<div class="footer-copyright py-3 text-center">
	<div class="container-fluid">
		2020 Copyright <a href="#">PARTH SONI</a>
	</div>
</div>

</footer>