<header>
<div class=" view jarallax" data-jarallax='{"speed" :0.2}'
style="background-image: url('https://cdn.pixabay.com/photo/2014/05/03/00/59/photography-336685__340.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 600px">


	<
	  
							<!----- MAIN PAGE------->
		<div class="mask rgba-black-strong text-center">
			<div class="container h-100 d-flex justify-content-center align-items-center">
				<div class="row smooth-scroll">
					<div class ="col-md-12 ">
						<div class="white-text text-center">
							<h2 class ="display-4 font-weight-bold md-4 mt-4 wow fadeIn"> PARTH SONI </h2>
								<h4 class="intro-subtext wow fadeIn" data-wow-delay="0.2s"> Professional Photographer</h4>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</header>