<h1 class="section-heading text-center md-4 mt-4 black-text wow fadeIn" data-wow-delay="0.2s"> WEDDING SHOOT </h1><br>
	<div class ="row wow FadeIn" data-wow-delay="0.4s">
		<div class="col-md-12">
			<div id="mdb-lightbox-ui">
				<div class="mdb-lightbox">
					
					<figure class="col-md-4">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQQ5YUJDCFvAasm_wbX6ZH2hTBcdGZHccIl_A&usqp=CAU">
					</figure>
					
					<figure class="col-md-4">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT0t-yQJfFRbaaeQzzlhrpsY9vLJe0dZGwk4A&usqp=CAU" alt="image">
					</figure>
					
					<figure class="col-md-4">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTmUxuVHlrGdzoQk6RBCJDveS6lH_dOJgFxng&usqp=CAU" alt="image">
					</figure>
					
					<figure class="col-md-4">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTab8KvWGmJp_j_svHPuFIwUodzzO3YcvQ23g&usqp=CAU" alt="image">
					</figure>
					
					<figure class="col-md-4">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQBY38PICpnO1L21dM4xUs9rtlZZFi7AtnlwQ&usqp=CAU" alt="image">
					</figure>
					
					<figure class="col-md-4">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTBQUBRV4ygIIUBzuiXz8j3KiA_3wRWXPBFOw&usqp=CAU" alt="image">
					</figure>
	
				</div>	
			</div>
		</div>
	</div>
</section>
<!----card --->
				<div class="wrapper md-4 mt-4">
        <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card mx-30">
                  <div class="card-body ">
                    <h5 class="card-title">Candid Wedding Photography: Basic Package INR 50,000/-</h5>
						<p class="card-text">
						Our basic wedding photography package is the perfect package providing you with 1 photographer for 1 day capturing all the essential elements of your wedding. The photographer will choose and provide up to 500 edited, high resolution photos in digital downloadable format so you can download, share or print them as required.</p>
						<div class="container text-center t">
					<a href="#contact" ><input type="submit" value="CONTACT NOW"></a>
					</div>

</div>
</div>
</div>
<div class="col-md-6 col-lg-4">
                <div class="card mx-30">
                  <div class="card-body">
                    <h5 class="card-title">Wedding Video / Cinematography Basic Package: INR 50,000/-</h5>
					<p class="card-text">Our basic wedding cinematography package is the perfect package providing you with 1 videographer for 1 day capturing all the essential elements of your wedding. The videographer will provide full HD (1080 P) coverage of your wedding in DVD format. Alternately you may request a copy of the coverage on your personal HDD.</p>
					
					<div class="container text-center t">
					<a href="#contact" ><input type="submit" value="CONTACT NOW"></a>
					</div>

</div>
</div>
</div>
<div class="col-md-6 col-lg-4">
                <div class="card mx-30">
                  <div class="card-body">
                    <h5 class="card-title">Flush Mount Photobook / Traditional Album: INR 15,000/-</h5>
					
				<p class="card-text">
					A stunning, exquisitely designed flush mount photobook is the ultimate memory of your beautiful wedding. Relive your wedding day as you browse through this individually designed photobook of 12” x 18”, 30 gloss matte finish sheets.The wedding album can be upgraded to a larger size and / or include more pages..</p>
					
					<div class="container text-center t">
					<a href="#contact" ><input type="submit" value="CONTACT NOW"></a>
					</div>

</div>
</div>
</div>	

